<html >
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="node_modules/gaintime/css/gaintime.min.css">
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" v-bind:class="'gt-section info text-center vertical-full'">
    <div class="container full-bg white" v-bind:style="{backgroundImage: bg}">
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="no-margin">
        <small>Relaxe, você não vai vencer</small>
      </h2>
      <div v-if="status != ''" class="game-info">
        <h3>
          {{status}}
        </h3>
        <button type="button" name="button" class="btn danger lg" @click="restart">Novo Jogo</button>
      </div>
      <div class="game-info" v-if="enemy.life == 0">
        <img :src="'./imgs/game/levelup.gif'" alt="">
      </div>
      <div class="row">
        <div class="xs-12">
          <div class="xs-4">
            {{character.name}}
            <bar :who="character"></bar>
            <span>Level: {{level}}</span>
          </div>
          <div class="xs-4 off-xs-4">
            <span>{{enemy.name}}</span>
            <bar :who="enemy"></bar>
          </div>
        </div>
      </div>
      <div v-if="start" class="medium center margin-top fix-height row">
        <div class="xs-12">
          <div class="left">
            <div class="xs-12">
              <img id="character" :class="[{ damage: character.damage }, 'person left']" :src="character.avatar" >
              <p class="left">
                {{character.message}}
              </p>
            </div>
            <p class="text-left">Força: {{character.strength}}</p>
            <p class="text-left">Proteção: {{character.armor}}</p>
            <p class="text-left">Habilidade: {{character.ability}}</p>
            <p class="text-left">Poder de fogo: {{character.fire_power}}</p>
            <p class="text-left">Resistência: {{character.resistence}}</p>
            <p class="text-left">Life: {{character.life }}</p>
          </div>
          <div class="right">
            <div class="xs-12">
              <img id="enemy" :class="[{ damage: enemy.damage }, 'person right enemy']" :src="enemy.avatar" >
              <p class="right">
                {{enemy.message}}
              </p>
            </div>
            <p class="text-right">Força: {{enemy.strength}}</p>
            <p class="text-right">Proteção: {{enemy.armor}}</p>
            <p class="text-right">Habilidade: {{enemy.ability}}</p>
            <p class="text-right">Poder de fogo: {{enemy.fire_power}}</p>
            <p class="text-right">Resistência: {{enemy.resistence}}</p>
            <p class="text-right">Life: {{enemy.life }}</p>
          </div>
        </div>
        <div class="xs-12">
          <button type="button" name="button" class="btn info lg" @click="fight" :disabled="atacking || endgame">Fight</button>
        </div>
      </div>
      <div v-if="!start" class="gt-form center">
        <h3>Monte seu personagem</h3>
        <form action="index.html" method="post" v-on:submit.prevent="createChar">
          <label for="name">Nome</label>
          <input id="name" type="text" name="name" v-model="character.name">
          <label for="strength">Força</label>
          <input max="5" id="strength" type="number" name="strength" v-model="character.strength">
          <label for="armor">Proteção</label>
          <input max="5" id="armor" type="number" name="armor" v-model="character.armor">
          <label for="ability">Habilidade</label>
          <input max="5" id="ability" type="number" name="ability" v-model="character.ability">
          <label for="fire_power">Poder de Fogo</label>
          <input max="5" id="fire_power" type="number" name="fire_power" v-model="character.fire_power">
          <label for="resistence">Resistência</label>
          <input max="5" id="resistence" type="number" name="resistence" v-model="character.resistence">
          <button type="submit" name="button" class="btn full success">Criar personagem</button>
        </form>
      </div>
    </div>
  </div>

  <script src="index.js"></script>
  <script src="node_modules/gaintime/js/gaintime.min.js"></script>
</body>
</html>
